In [2]:
import polars as pl
pl.Config.set_tbl_rows(15) #Esta config controla la cantidad de filas en print y display en Jupyter
pl.Config.set_tbl_cols(50) #Cantidad de columnas a desplegar
pl.Config.set_fmt_str_lengths(100) #Longitud de las cadenas a desplegar

polars.cfg.Config

In [3]:
taxi_sample = pl.read_parquet('../output/taxi.parquet', n_rows=1000000)
taxi_sample.head()

shape: (5, 17)
┌────────┬────────────┬────────────┬────────────┬────────────┬──────────┬────────────┬────────────┬────────────┬────────────┬───────────┬─────┬───────┬──────────┬────────────┬────────────┬────────────┐
│ Vendor ┆ tpep_picku ┆ tpep_dropo ┆ passenger_ ┆ trip_dista ┆ Ratecode ┆ store_and_ ┆ PULocation ┆ DOLocation ┆ payment_ty ┆ fare_amou ┆ ext ┆ mta_t ┆ tip_amou ┆ tolls_amou ┆ improvemen ┆ total_amou │
│ ID     ┆ p_datetime ┆ ff_datetim ┆ count      ┆ nce        ┆ ID       ┆ fwd_flag   ┆ ID         ┆ ID         ┆ pe         ┆ nt        ┆ ra  ┆ ax    ┆ nt       ┆ nt         ┆ t_surcharg ┆ nt         │
│ ---    ┆ ---        ┆ e          ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ --- ┆ ---   ┆ ---      ┆ ---        ┆ e          ┆ ---        │
│ str    ┆ str        ┆ ---        ┆ str        ┆ str        ┆ str      ┆ str        ┆ str        ┆ str        ┆ str        ┆ str       ┆ str ┆ str   ┆ str      ┆ str        ┆ ---        ┆ str        │
│        ┆            ┆ str        ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆ str        ┆            │
╞════════╪════════════╪════════════╪════════════╪════════════╪══════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪═════╪═══════╪══════════╪════════════╪════════════╪════════════╡
│ 1      ┆ 11/13/2018 ┆ 11/13/2018 ┆ 1          ┆ 1.5        ┆ 1        ┆ N          ┆ 246        ┆ 164        ┆ 1          ┆ 9.5       ┆ 0   ┆ 0.5   ┆ 1        ┆ 0          ┆ 0.3        ┆ 11.3       │
│        ┆ 07:45:26   ┆ 07:57:39   ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│        ┆ AM         ┆ AM         ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│ 2      ┆ 11/13/2018 ┆ 11/13/2018 ┆ 1          ┆ 0.88       ┆ 1        ┆ N          ┆ 140        ┆ 263        ┆ 1          ┆ 5.5       ┆ 0   ┆ 0.5   ┆ 2        ┆ 0          ┆ 0.3        ┆ 8.3        │
│        ┆ 07:24:47   ┆ 07:29:45   ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│        ┆ AM         ┆ AM         ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│ 2      ┆ 11/13/2018 ┆ 11/13/2018 ┆ 1          ┆ 0.54       ┆ 1        ┆ N          ┆ 236        ┆ 236        ┆ 2          ┆ 5         ┆ 0   ┆ 0.5   ┆ 0        ┆ 0          ┆ 0.3        ┆ 5.8        │
│        ┆ 07:31:34   ┆ 07:36:04   ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│        ┆ AM         ┆ AM         ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│ 2      ┆ 11/13/2018 ┆ 11/13/2018 ┆ 1          ┆ 2.43       ┆ 1        ┆ N          ┆ 236        ┆ 48         ┆ 1          ┆ 11.5      ┆ 0   ┆ 0.5   ┆ 2.46     ┆ 0          ┆ 0.3        ┆ 14.76      │
│        ┆ 07:36:59   ┆ 07:51:07   ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│        ┆ AM         ┆ AM         ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│ 2      ┆ 11/13/2018 ┆ 11/13/2018 ┆ 1          ┆ 2.96       ┆ 1        ┆ N          ┆ 163        ┆ 43         ┆ 1          ┆ 18        ┆ 0   ┆ 0.5   ┆ 0        ┆ 0          ┆ 0.3        ┆ 18.8       │
│        ┆ 07:53:40   ┆ 08:21:53   ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
│        ┆ AM         ┆ AM         ┆            ┆            ┆          ┆            ┆            ┆            ┆            ┆           ┆     ┆       ┆          ┆            ┆            ┆            │
└────────┴────────────┴────────────┴────────────┴────────────┴──────────┴────────────┴────────────┴────────────┴────────────┴───────────┴─────┴───────┴──────────┴────────────┴────────────┴────────────┘

In [4]:
def drop_columns(dataframe: pl.LazyFrame) -> pl.LazyFrame:
    dataframe = dataframe.select(
        pl.exclude('RatecodeID','store_and_fwd_flag','fare_amount','extra','mta_tax','tolls_amount','improvement_surcharge')
    )
    return dataframe

In [5]:
def rename_columns(dataframe: pl.LazyFrame) -> pl.LazyFrame:
    dataframe = dataframe.rename({
        'VendorID' : 'vendor_id',
        'tpep_pickup_datetime' : 'pickup_datetime',
        'tpep_dropoff_datetime' : 'dropoff_datetime',
        'passenger_count' : 'passenger_count',
        'trip_distance' : 'trip_distance',
        'PULocationID' : 'pickup_location_id',
        'DOLocationID' : 'dropoff_location_id',
        'payment_type' : 'payment_type',
        'tip_amount' : 'tip_amount',
        'total_amount' : 'total_amount'
    })
    return dataframe

In [6]:
def cast_column_types(dataframe: pl.LazyFrame) -> pl.LazyFrame:
    dataframe = dataframe.with_columns(
        pl.col("^.*amount$|^.*distance$").cast(pl.Float64),
        pl.col("^.*id$|^.*count$|^.*type$").cast(pl.Int32),
        pl.col("^.*datetime$").str.strptime(pl.Datetime, "%m/%d/%Y %I:%M:%S %p",strict=False)
    )     
    return dataframe

In [20]:
def fix_bad_values(dataframe: pl.LazyFrame) -> pl.LazyFrame:
    quantile_tip_amount = dataframe.select(pl.col('tip_amount').quantile(0.9999)).collect().item()
    quantile_total_amount = dataframe.select(pl.col('total_amount').quantile(0.9999)).collect().item()
    dataframe = dataframe.with_columns(
        
        pl.col('trip_distance').clip(0,80).keep_name(),
        pl.col('passenger_count').clip(0,9).keep_name(),
        pl.col('tip_amount').clip(0, quantile_tip_amount).keep_name(),
        pl.col('total_amount').clip(0, quantile_total_amount).keep_name(),
        pl.when(pl.col("^.*datetime$").dt.year() != 2018)
            .then(pl.col("^.*datetime$").dt.strftime('2018/%m/%d %H:%M:%S').str.strptime(pl.Datetime, '%Y/%m/%d %H:%M:%S'))
            .otherwise(pl.col("^.*datetime$"))
            .keep_name(),            
    )
    return dataframe

In [8]:
def calculate_columns(dataframe: pl.LazyFrame) -> pl.LazyFrame:
    dataframe = dataframe.with_columns(
        trip_duration = (pl.col("dropoff_datetime") - pl.col("pickup_datetime")).dt.minutes().clip(0,180),        
    ) \
    .with_columns(
        trip_speed = pl.when((pl.col('trip_duration') > 1) & (pl.col('trip_distance') > 0.1))
          .then((pl.col('trip_distance') * pl.lit(1.60934) * pl.lit(60)) / pl.col('trip_duration'))
          .otherwise(None)
    )
    return dataframe

In [21]:
taxi_sample_clean = (taxi_sample.lazy()
            .pipe(drop_columns)
            .pipe(rename_columns)
            .pipe(cast_column_types)
            .pipe(fix_bad_values)
            .pipe(calculate_columns)         
)
taxi_sample_clean.collect().head()

shape: (5, 12)
┌─────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬──────────┬────────────┬────────────┬──────────┐
│ vendor_ ┆ pickup_dat ┆ dropoff_da ┆ passenger_ ┆ trip_dista ┆ pickup_loc ┆ dropoff_lo ┆ payment_ty ┆ tip_amou ┆ total_amou ┆ trip_durat ┆ trip_spe │
│ id      ┆ etime      ┆ tetime     ┆ count      ┆ nce        ┆ ation_id   ┆ cation_id  ┆ pe         ┆ nt       ┆ nt         ┆ ion        ┆ ed       │
│ ---     ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---        ┆ ---      │
│ i32     ┆ datetime[μ ┆ datetime[μ ┆ i32        ┆ f64        ┆ i32        ┆ i32        ┆ i32        ┆ f64      ┆ f64        ┆ i64        ┆ f64      │
│         ┆ s]         ┆ s]         ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
╞═════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪══════════╪════════════╪════════════╪══════════╡
│ 1       ┆ 2018-11-13 ┆ 2018-11-13 ┆ 1          ┆ 1.5        ┆ 246        ┆ 164        ┆ 1          ┆ 1.0      ┆ 11.3       ┆ 12         ┆ 12.07005 │
│         ┆ 07:45:26   ┆ 07:57:39   ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│ 2       ┆ 2018-11-13 ┆ 2018-11-13 ┆ 1          ┆ 0.88       ┆ 140        ┆ 263        ┆ 1          ┆ 2.0      ┆ 8.3        ┆ 4          ┆ 21.24328 │
│         ┆ 07:24:47   ┆ 07:29:45   ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ 8        │
│ 2       ┆ 2018-11-13 ┆ 2018-11-13 ┆ 1          ┆ 0.54       ┆ 236        ┆ 236        ┆ 2          ┆ 0.0      ┆ 5.8        ┆ 4          ┆ 13.03565 │
│         ┆ 07:31:34   ┆ 07:36:04   ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ 4        │
│ 2       ┆ 2018-11-13 ┆ 2018-11-13 ┆ 1          ┆ 2.43       ┆ 236        ┆ 48         ┆ 1          ┆ 2.46     ┆ 14.76      ┆ 14         ┆ 16.76012 │
│         ┆ 07:36:59   ┆ 07:51:07   ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ 7        │
│ 2       ┆ 2018-11-13 ┆ 2018-11-13 ┆ 1          ┆ 2.96       ┆ 163        ┆ 43         ┆ 1          ┆ 0.0      ┆ 18.8       ┆ 28         ┆ 10.20781 │
│         ┆ 07:53:40   ┆ 08:21:53   ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ 4        │
└─────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴──────────┴────────────┴────────────┴──────────┘

In [22]:
taxi_sample_clean.collect().describe()

shape: (7, 13)
┌────────┬─────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬──────────┬────────────┬────────────┬──────────┐
│ descri ┆ vendor_ ┆ pickup_dat ┆ dropoff_da ┆ passenger_ ┆ trip_dista ┆ pickup_loc ┆ dropoff_lo ┆ payment_ty ┆ tip_amou ┆ total_amou ┆ trip_durat ┆ trip_spe │
│ be     ┆ id      ┆ etime      ┆ tetime     ┆ count      ┆ nce        ┆ ation_id   ┆ cation_id  ┆ pe         ┆ nt       ┆ nt         ┆ ion        ┆ ed       │
│ ---    ┆ ---     ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---        ┆ ---      │
│ str    ┆ f64     ┆ str        ┆ str        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ f64      ┆ f64        ┆ f64        ┆ f64      │
╞════════╪═════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪══════════╪════════════╪════════════╪══════════╡
│ count  ┆ 1e6     ┆ 1000000    ┆ 1000000    ┆ 1e6        ┆ 1e6        ┆ 1e6        ┆ 1e6        ┆ 1e6        ┆ 1e6      ┆ 1e6        ┆ 1e6        ┆ 1e6      │
│ null_c ┆ 0.0     ┆ 0          ┆ 0          ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ 0.0      ┆ 0.0        ┆ 0.0        ┆ 23154.0  │
│ ount   ┆         ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│ mean   ┆ 1.62815 ┆ null       ┆ null       ┆ 1.535628   ┆ 2.899356   ┆ 166.266773 ┆ 164.578035 ┆ 1.278467   ┆ 2.137468 ┆ 17.795293  ┆ 17.036333  ┆ 16.39244 │
│        ┆ 2       ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│ std    ┆ 0.57436 ┆ null       ┆ null       ┆ 1.209576   ┆ 3.88934    ┆ 66.421972  ┆ 69.432221  ┆ 0.468597   ┆ 2.940436 ┆ 16.233516  ┆ 18.056075  ┆ 10.70029 │
│ min    ┆ 1.0     ┆ 2018-01-01 ┆ 2018-01-01 ┆ 0.0        ┆ 0.0        ┆ 1.0        ┆ 1.0        ┆ 1.0        ┆ 0.0      ┆ 0.0        ┆ 0.0        ┆ 0.059009 │
│        ┆         ┆ 00:05:38.0 ┆ 04:50:14.0 ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│        ┆         ┆ 00000      ┆ 00000      ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│ max    ┆ 4.0     ┆ 2018-12-31 ┆ 2018-12-31 ┆ 9.0        ┆ 80.0       ┆ 265.0      ┆ 265.0      ┆ 4.0        ┆ 62.27    ┆ 287.27     ┆ 180.0      ┆ 2574.944 │
│        ┆         ┆ 23:03:08.0 ┆ 19:03:26.0 ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│        ┆         ┆ 00000      ┆ 00000      ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│ median ┆ 2.0     ┆ null       ┆ null       ┆ 1.0        ┆ 1.51       ┆ 162.0      ┆ 162.0      ┆ 1.0        ┆ 1.55     ┆ 12.74      ┆ 12.0       ┆ 14.11267 │
│        ┆         ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ 4        │
└────────┴─────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴──────────┴────────────┴────────────┴──────────┘

In [23]:
taxi_clean = pl.scan_parquet('../output/taxi.parquet') \
            .pipe(drop_columns) \
            .pipe(rename_columns) \
            .pipe(cast_column_types) \
            .pipe(fix_bad_values) \
            .pipe(calculate_columns)

In [24]:
taxi_clean = taxi_clean.collect(streaming=True)

In [25]:
taxi_clean.describe()

shape: (7, 13)
┌────────┬─────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬──────────┬────────────┬────────────┬──────────┐
│ descri ┆ vendor_ ┆ pickup_dat ┆ dropoff_da ┆ passenger_ ┆ trip_dista ┆ pickup_loc ┆ dropoff_lo ┆ payment_ty ┆ tip_amou ┆ total_amou ┆ trip_durat ┆ trip_spe │
│ be     ┆ id      ┆ etime      ┆ tetime     ┆ count      ┆ nce        ┆ ation_id   ┆ cation_id  ┆ pe         ┆ nt       ┆ nt         ┆ ion        ┆ ed       │
│ ---    ┆ ---     ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---        ┆ ---      │
│ str    ┆ f64     ┆ str        ┆ str        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ f64      ┆ f64        ┆ f64        ┆ f64      │
╞════════╪═════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪══════════╪════════════╪════════════╪══════════╡
│ count  ┆ 1.12234 ┆ 112234626  ┆ 112234626  ┆ 1.12234626 ┆ 1.12234626 ┆ 1.12234626 ┆ 1.12234626 ┆ 1.12234626 ┆ 1.122346 ┆ 1.12234626 ┆ 1.12234626 ┆ 1.122346 │
│        ┆ 626e8   ┆            ┆            ┆ e8         ┆ e8         ┆ e8         ┆ e8         ┆ e8         ┆ 26e8     ┆ e8         ┆ e8         ┆ 26e8     │
│ null_c ┆ 0.0     ┆ 0          ┆ 0          ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ 0.0      ┆ 0.0        ┆ 0.0        ┆ 2.694977 │
│ ount   ┆         ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ e6       │
│ mean   ┆ 1.58976 ┆ null       ┆ null       ┆ 1.595513   ┆ 2.926978   ┆ 163.179016 ┆ 161.402084 ┆ 1.313831   ┆ 1.86961  ┆ 16.322072  ┆ 14.184362  ┆ 19.13425 │
│        ┆ 3       ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ 1        │
│ std    ┆ 0.51791 ┆ null       ┆ null       ┆ 1.241607   ┆ 3.777462   ┆ 66.540181  ┆ 70.424256  ┆ 0.4844     ┆ 2.503802 ┆ 14.151166  ┆ 14.133129  ┆ 10.54782 │
│        ┆ 1       ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆ 8        │
│ min    ┆ 1.0     ┆ 2018-01-01 ┆ 2018-01-01 ┆ 0.0        ┆ 0.0        ┆ 1.0        ┆ 1.0        ┆ 1.0        ┆ 0.0      ┆ 0.0        ┆ 0.0        ┆ 0.059009 │
│        ┆         ┆ 00:00:00.0 ┆ 00:00:00.0 ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│        ┆         ┆ 00000      ┆ 00000      ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│ max    ┆ 4.0     ┆ 2018-12-31 ┆ 2018-12-31 ┆ 9.0        ┆ 80.0       ┆ 265.0      ┆ 265.0      ┆ 5.0        ┆ 45.5     ┆ 232.86     ┆ 180.0      ┆ 3862.416 │
│        ┆         ┆ 23:59:59.0 ┆ 23:59:59.0 ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│        ┆         ┆ 00000      ┆ 00000      ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
│ median ┆ 2.0     ┆ null       ┆ null       ┆ 1.0        ┆ 1.6        ┆ 162.0      ┆ 162.0      ┆ 1.0        ┆ 1.4      ┆ 11.8       ┆ 11.0       ┆ 16.89807 │
└────────┴─────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴──────────┴────────────┴────────────┴──────────┘

In [26]:
taxi_clean.filter(pl.col('trip_duration')<0).height

0

In [28]:
taxi_clean.filter((pl.col('dropoff_datetime').dt.year()>2023) | (pl.col('dropoff_datetime').dt.year()<2017))

shape: (0, 12)
┌─────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬──────────┬────────────┬────────────┬──────────┐
│ vendor_ ┆ pickup_dat ┆ dropoff_da ┆ passenger_ ┆ trip_dista ┆ pickup_loc ┆ dropoff_lo ┆ payment_ty ┆ tip_amou ┆ total_amou ┆ trip_durat ┆ trip_spe │
│ id      ┆ etime      ┆ tetime     ┆ count      ┆ nce        ┆ ation_id   ┆ cation_id  ┆ pe         ┆ nt       ┆ nt         ┆ ion        ┆ ed       │
│ ---     ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---        ┆ ---      │
│ i32     ┆ datetime[μ ┆ datetime[μ ┆ i32        ┆ f64        ┆ i32        ┆ i32        ┆ i32        ┆ f64      ┆ f64        ┆ i64        ┆ f64      │
│         ┆ s]         ┆ s]         ┆            ┆            ┆            ┆            ┆            ┆          ┆            ┆            ┆          │
╞═════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪══════════╪════════════╪════════════╪══════════╡
└─────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴──────────┴────────────┴────────────┴──────────┘

In [29]:
taxi_clean.select(pl.all().null_count())

shape: (1, 12)
┌─────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬──────────┬────────────┬────────────┬──────────┐
│ vendor_ ┆ pickup_dat ┆ dropoff_da ┆ passenger_ ┆ trip_dista ┆ pickup_loc ┆ dropoff_lo ┆ payment_ty ┆ tip_amou ┆ total_amou ┆ trip_durat ┆ trip_spe │
│ id      ┆ etime      ┆ tetime     ┆ count      ┆ nce        ┆ ation_id   ┆ cation_id  ┆ pe         ┆ nt       ┆ nt         ┆ ion        ┆ ed       │
│ ---     ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---      ┆ ---        ┆ ---        ┆ ---      │
│ u32     ┆ u32        ┆ u32        ┆ u32        ┆ u32        ┆ u32        ┆ u32        ┆ u32        ┆ u32      ┆ u32        ┆ u32        ┆ u32      │
╞═════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪══════════╪════════════╪════════════╪══════════╡
│ 0       ┆ 0          ┆ 0          ┆ 0          ┆ 0          ┆ 0          ┆ 0          ┆ 0          ┆ 0        ┆ 0          ┆ 0          ┆ 2694977  │
└─────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴──────────┴────────────┴────────────┴──────────┘

In [31]:
taxi_clean.select(pl.col('passenger_count').value_counts()).unnest('passenger_count').sort('passenger_count')

shape: (10, 2)
┌─────────────────┬──────────┐
│ passenger_count ┆ counts   │
│ ---             ┆ ---      │
│ i32             ┆ u32      │
╞═════════════════╪══════════╡
│ 0               ┆ 1003298  │
│ 1               ┆ 79786664 │
│ 2               ┆ 16468127 │
│ 3               ┆ 4684094  │
│ 4               ┆ 2209579  │
│ 5               ┆ 5040905  │
│ 6               ┆ 3040893  │
│ 7               ┆ 425      │
│ 8               ┆ 349      │
│ 9               ┆ 292      │
└─────────────────┴──────────┘

In [32]:
taxi_clean.select(pl.col('dropoff_datetime').dt.year().value_counts()).unnest('dropoff_datetime')

shape: (1, 2)
┌──────────────────┬───────────┐
│ dropoff_datetime ┆ counts    │
│ ---              ┆ ---       │
│ i32              ┆ u32       │
╞══════════════════╪═══════════╡
│ 2018             ┆ 112234626 │
└──────────────────┴───────────┘

In [44]:
taxi_stats = (taxi_clean.lazy()
    .sort('pickup_datetime')
    .groupby_dynamic(
        'pickup_datetime', 
        every='1d',
        closed='both',
        by='vendor_id')
    .agg(
        pl.count().alias('trips_count'),
        pl.col(pl.NUMERIC_DTYPES).sum().suffix('_sum'),
        pl.col(pl.NUMERIC_DTYPES).mean().suffix('_mean'),
        pl.col(pl.NUMERIC_DTYPES).median().suffix('_median')       
    )
)

In [45]:
taxi_stats.select(
    'vendor_id',
    pl.col('pickup_datetime').cast(pl.Date),
    'trips_count',
    pl.col(r'^.*sum$')
).collect()

shape: (972, 12)
┌─────────┬────────────┬───────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┐
│ vendor_ ┆ pickup_dat ┆ trips_cou ┆ passenger_ ┆ trip_dista ┆ pickup_loc ┆ dropoff_lo ┆ payment_ty ┆ tip_amount ┆ total_amou ┆ trip_durat ┆ trip_speed │
│ id      ┆ etime      ┆ nt        ┆ count_sum  ┆ nce_sum    ┆ ation_id_s ┆ cation_id_ ┆ pe_sum     ┆ _sum       ┆ nt_sum     ┆ ion_sum    ┆ _sum       │
│ ---     ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ um         ┆ sum        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ i32     ┆ date       ┆ u32       ┆ i32        ┆ f64        ┆ ---        ┆ ---        ┆ i32        ┆ f64        ┆ f64        ┆ i64        ┆ f64        │
│         ┆            ┆           ┆            ┆            ┆ i32        ┆ i32        ┆            ┆            ┆            ┆            ┆            │
╞═════════╪════════════╪═══════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪════════════╡
│ 2       ┆ 2017-12-31 ┆ 5         ┆ 5          ┆ 48.36      ┆ 1105       ┆ 492        ┆ 6          ┆ 25.89      ┆ 203.67     ┆ 0          ┆ null       │
│ 2       ┆ 2018-01-01 ┆ 141708    ┆ 270950     ┆ 488256.77  ┆ 22373769   ┆ 21978156   ┆ 200804     ┆ 239081.62  ┆ 2.3419e6   ┆ 1757068    ┆ 3.4909e6   │
│ 2       ┆ 2018-01-02 ┆ 134594    ┆ 257633     ┆ 424216.99  ┆ 21924065   ┆ 21655690   ┆ 185176     ┆ 231022.7   ┆ 2.1644e6   ┆ 1696152    ┆ 2.8857e6   │
│ 2       ┆ 2018-01-03 ┆ 148674    ┆ 282689     ┆ 430242.46  ┆ 24303628   ┆ 24031963   ┆ 200713     ┆ 256164.56  ┆ 2.3414e6   ┆ 1989931    ┆ 2.8654e6   │
│ 2       ┆ 2018-01-04 ┆ 73431     ┆ 139188     ┆ 192916.33  ┆ 11881249   ┆ 11740675   ┆ 101262     ┆ 114500.22  ┆ 1.0728e6   ┆ 938488     ┆ 1.3696e6   │
│ 2       ┆ 2018-01-05 ┆ 152395    ┆ 291154     ┆ 405219.97  ┆ 24793017   ┆ 24450355   ┆ 201491     ┆ 263773.72  ┆ 2.3535e6   ┆ 2136202    ┆ 2.5979e6   │
│ 2       ┆ 2018-01-06 ┆ 160673    ┆ 309555     ┆ 457802.46  ┆ 25994157   ┆ 25589999   ┆ 214933     ┆ 267182.92  ┆ 2.4334e6   ┆ 2031899    ┆ 3.1864e6   │
│ ...     ┆ ...        ┆ ...       ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        │
│ 4       ┆ 2018-12-24 ┆ 2241      ┆ 2365       ┆ 5223.69    ┆ 381103     ┆ 368467     ┆ 3294       ┆ 2823.17    ┆ 29033.43   ┆ 22518      ┆ 44836.6647 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 66         │
│ 4       ┆ 2018-12-25 ┆ 1511      ┆ 1586       ┆ 5009.36    ┆ 248002     ┆ 240663     ┆ 2243       ┆ 2361.26    ┆ 24090.42   ┆ 17329      ┆ 36024.4745 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 64         │
│ 4       ┆ 2018-12-26 ┆ 2343      ┆ 2491       ┆ 7065.0     ┆ 385630     ┆ 378264     ┆ 3367       ┆ 3909.92    ┆ 38405.93   ┆ 30748      ┆ 47332.9214 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 75         │
│ 4       ┆ 2018-12-27 ┆ 2529      ┆ 2727       ┆ 7784.74    ┆ 416642     ┆ 405309     ┆ 3667       ┆ 4247.42    ┆ 42699.75   ┆ 35921      ┆ 47095.3737 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 18         │
│ 4       ┆ 2018-12-28 ┆ 2402      ┆ 2511       ┆ 6885.13    ┆ 392588     ┆ 384539     ┆ 3457       ┆ 3966.23    ┆ 38828.91   ┆ 32774      ┆ 43556.9624 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 57         │
│ 4       ┆ 2018-12-29 ┆ 2554      ┆ 2765       ┆ 7656.65    ┆ 415563     ┆ 404486     ┆ 3689       ┆ 4137.15    ┆ 41487.82   ┆ 34774      ┆ 50109.3537 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 13         │
│ 4       ┆ 2018-12-30 ┆ 2161      ┆ 2284       ┆ 6658.45    ┆ 345197     ┆ 332702     ┆ 3104       ┆ 3563.83    ┆ 34292.34   ┆ 26694      ┆ 45775.4110 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 2          │
│ 4       ┆ 2018-12-31 ┆ 2503      ┆ 2620       ┆ 6702.23    ┆ 406571     ┆ 394970     ┆ 3556       ┆ 3829.92    ┆ 36379.94   ┆ 27742      ┆ 49092.2760 │
│         ┆            ┆           ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆            ┆ 96         │
└─────────┴────────────┴───────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴────────────┘